@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
@font-face {
    font-family: 'Futura';
    src: url('/public/fonts/futur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('/public/fonts/Futura Bold font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold Italic';
    src: url('/public/fonts/Futura Bold Italic font.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Book';
    src: url('/public/fonts/Futura Book font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Book Italic';
    src: url('/public/fonts/Futura Book Italic font.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Extra Black';
    src: url('/public/fonts/Futura Extra Black font.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Heavy';
    src: url('/public/fonts/Futura Heavy font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Heavy Italic';
    src: url('/public/fonts/Futura Heavy Italic font.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Light';
    src: url('/public/fonts/Futura Light font.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Light Italic';
    src: url('/public/fonts/Futura Light Italic font.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Medium';
    src: url('/public/fonts/futura medium bt.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Medium Italic';
    src: url('/public/fonts/Futura Medium Italic font.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura XBlk';
    src: url('/public/fonts/Futura XBlk BT.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url('/public/fonts/Futura-CondensedLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}


/*.image {*/
/*  height: auto;*/
/*}*/
body {
    /*//hide scrollbar*/
    scrollbar-width: none;
    scrollbar-color: aqua transparent;
    -ms-overflow-style: none;
    overflow-y: scroll;

    height: 100%;
}

.video-front-button {
    width: 243px;
    height: 92px;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-family: FreightNeo Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.back-button-container {
    position: absolute;
    top: 73px;
    left: 50px;
    z-index: 100;

}

.back-button {
    width: 17px;
    height: 33px;
}

.page-title {
    /*margin-top: 33px + 25px;*/
    margin-top: 65px;

}

.page-title h2 {
    color: #EDEBEB;
    vertical-align: text-bottom;
    display: inline-block;
    font-family: FreightNeo Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 50% */
    letter-spacing: 1.2px;
}

.navbar-title {
    color: #EDEBEB;
    font-family: Futura, "Comic Sans MS", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navbar-titles{
    margin-right: 70px;
}

.dark-text {
    color: #000000;
}

.dark-border {
    border-color: #000000;
}

.light-text {
    color: #EDEBEB;
}

.light-border {
    border-color: #FFFFFF;
}

.big-letter-container {
    /*  padding-left: 450px;*/
    /*padding-right: 450px;*/
    width: 954px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.big-letter {
    width: 100%;
}

.letters-list {
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 105px;
}

.letter-description-top {
    position: absolute;
    top: 67px;
    left: -233px;
    z-index: 100;
    max-width: 306px;
}

.letter-description-top p {
    color: #000;
    text-align: justify;
    font-family: FreightNeo Pro, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 70.588% */
    letter-spacing: 1.19px;
}

.letter-footer {
    margin-top: 53px;
    margin-bottom: 53px;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: row;

}

.letter-footer p {
    width: 400px;
    color: #000;
    text-align: justify;
    font-family: FreightNeo Pro, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 70.588% */
    letter-spacing: 1.19px;
}

.letter-with-bottom-margin {
    margin-bottom: 94px;
}
.letter-description-top p{
    color: #000;
    text-align: justify;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; /* 70.588% */
    letter-spacing: 1.19px;
}
.letter-description-top p .strong {
    color: #000;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.85px;
}
.vogue-upper{
    color: #000;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 2.04px;
}
.letter-footer p {
    color: #FFF;
    text-align: justify;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; /* 70.588% */
    letter-spacing: 0.85px;
}
.letter-footer p .strong {
    font-weight: 900;
    letter-spacing: 0.51px;
}
.galery-container {
    padding-top: 60px;
    width: 1380px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-galery {
    background-color: #D9D9D9;
    width: 880px;
}

.right-galery {
    margin-top: 365px;
    display: flex;
    flex-direction: column;
    gap: 37px;
    width: 335px;
    height: 1042px;
    background-color: #D9D9D9;
}

.nike-A1 {
    width: 100%;

    display: flex;
    flex-direction: row;
    padding-bottom: 42px;
}

.nike-A1 img.A1-image {
    width: 618px;

}

.nike-A1 .palette {
    width: 262px;
    height: 413px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.nike-A2 {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
}

.A2-description {
    width: 383px;
    height: 746px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.A2-description p{
    max-width: 250px;
}

.A2-p{
    color: #000;
    text-align: justify;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.51px;
}
.A2-strong{
    color: #000;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.51px;
}

.scene-container-A{
    margin-top: 60px;
    justify-content: space-between;
    gap: 113px;
    border-bottom: 1px solid #000;
}
.scene-container-A .image-A1 {
    width: auto;
    height: 660px;
    /*min-width: 500px;*/
}
.scene-container-A .image-B1 {
    width: 348px;
    height: 242px;
   border: 0.5px solid #000;
}
.scene-container-A .image-B2 {
    margin-top: 28px;
    width: 348px;
    height: 260px;
    border: 0.5px solid #000;
}
.scene-container-A .sub-container{
    /*margin-top: 54px;*/
    margin-top: 20px;
    margin-right: 112px;
    gap: 28px;
}
.sub-container .palette{
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12px;
}
.scene-container-B{
    margin-top: 60px;
    width: 100%;
    height: auto;
}
.scene-container-C{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 240px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.scene-container-C .sub-container{
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    gap: 22px;
}

.scene-container-C .sub-container .image-A1{
    width: 331px;
    height: 196px;
    border: 0.5px solid #000;
}
.scene-container-C .sub-container .image-A2{
    width: 331px;
    height: 248px;
    border: 0.5px solid #000;
}
.scene-container-C .image-B1{
    width: 1220px;
    height: auto;
}
.scene-container-D{
    margin-top: 60px;
    width: 100%;
    height: auto;
}
.scene-container-E{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*gap: 100px;*/
}
.scene-container-E .image-A1{
    width: 1172px;
    height: auto;
}
.scene-container-E .sub-container{
    margin-top: 132px;
    margin-right: 94px;
width: 416px;
    height: 416px;

}
.scene-container-E .sub-container p{
    text-align: justify;
    color: #473015;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.85px;
}
.scene-container-E .sub-container p .strong{
    color: #473015;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.85px;
}

/* KIABI */

.k-image-A1{
    margin-top: 60px;
    width: 100%;
}
.k-image-A1 img{
    width: 100%;
    height: auto;
}
/*<div className={'k-container'}>
                    <div className="sub-container-B1">
                        <img src="" alt=""/>
                        <div className={'palette'}>
                            <h3>Palette de couleurs</h3>
                        </div>
                    </div>
                    <div className="sub-container-B2">
                        <p className={'b2-p1'}>Lorem ipsum dolor</p>
                        <img src="" alt=""/>
                        <p className={'b2-p2'}></p>
                    </div>
                </div>*/
.k-container{
    margin-top: 60px;
    margin-bottom: 136px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}
.k-container .sub-container-B1{
    margin-top: 126px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-left: 148px;
}
.k-container .sub-container-B1 .palette{
    /*margin-top: 54px;*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12px;
}
.k-container .sub-container-B1 .palette img{
width: 45px;
height: 45px;
}

.k-container .sub-container-B2{
margin-top: 54px;
}
.k-container .sub-container-B2 .b2-p1{
    position: absolute;
    /* 50% of left on the left of p */
    left: 66% ;
    max-width: 400px;
    text-align: justify;
    color: #6F6353;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.85px;
}
.k-container .sub-container-B2 .b2-p1 .strong {
    font-weight: 900;
    letter-spacing: 0.595px;
}
.k-container .sub-container-B2 .b2-p2{
    margin-top: 20px;
    position: absolute;
    /* 50% of left on the left of p */
    left: 66% ;
    max-width: 400px;
    text-align: justify;
    color: #6F6353;
    font-family: FreightNeo Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.85px;
}
.k-container .sub-container-B2 .b2-p2 .strong {
    font-weight: 900;
    letter-spacing: 0.595px;
}
.k-container .sub-container-B2 img{
    margin-top: 66px;
    width: 1113px;
    height: 742px;

}
.k-image-A2{
    margin-top: 60px;
    width: 100%;
    height: auto;
}
.k-image-A2 img{
    width: 100%;
    height: auto;
}
.k-big-image-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.k-big-image{
    width: 1093px;
    height: 1524px;
}
.k-big-image img{
    width: 100%;
    height: auto;
}